<ion-header>
  <ion-toolbar color="{{user.statusColor}}">
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/category-view']">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ itemName }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="isLoaded">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="badgeHolder" *ngIf="itemStatus != 0">
          <div class="bidBadge">
            {{ biddingDetails.WinnerId == null ? timeLimit : "Bidding Ended"}}
          </div>
        </div>
        <img src="{{url}}/Product/RetrieveImage?id={{itemId}}"
          onerror="this.onerror = null; this.src = '../assets/placeholder.png'" />
      </ion-col>
    </ion-row>
    <!--  for bidders -->
    <ion-row style="margin: 10px 0"
      *ngIf="itemStatus != 0 && biddingDetails != null && biddingDetails.WinnerId == null">
      <ion-col size="12" *ngIf="biddingDetails.userBidPrice == null; else userPrice">
        <ion-button color="primary" expand="full" (click)="bidNow()">
          <ion-icon name="hammer"></ion-icon> &nbsp;
          Bid Now
        </ion-button>
      </ion-col>
      <ng-template #userPrice>
        <ion-col>
          <ion-item color="success">
            You bid at {{biddingDetails.userBidPrice  | currency : '&#8369; ' }}
          </ion-item>
        </ion-col>
      </ng-template>
    </ion-row>
    <ion-row *ngIf="biddingDetails.WinnerId != null">
      <ion-col>
        <ion-item color="success">
          Bid winner is {{winner.bidderName}}
        </ion-item>
      </ion-col>
    </ion-row>
    <!-- end for bidders -->

    <ion-row>
      <ion-col class="itemName">
        <ion-text *ngIf="itemStatus != 0 && biddingDetails != null">
          <h1>
            {{ (biddingDetails.highestBidPrice != undefined ? biddingDetails.highestBidPrice : itemDetails.AskPrice) | currency : '&#8369; '}}
          </h1>
          <span>(Starts at {{itemDetails.AskPrice | currency : '&#8369; '}})</span>
        </ion-text>
        <ion-text>
          <h2>{{itemName}}</h2>
          <p style="color: grey">{{branchName}} | {{categoryName}}</p>
        </ion-text>

        <ion-text *ngIf="itemStatus == 0 && displayDetails != null" class="displayRate">
          <h1>
            <ion-label *ngFor="let rate of ratingStars">
              <ion-icon name="{{rate}}"></ion-icon>
            </ion-label>
          </h1>
          <p>{{displayDetails.productRate | number : '1.2-2'}} of {{displayDetails.countRate}} users</p>
        </ion-text>
      </ion-col>
    </ion-row>

    <!-- for viewers -->
    <ion-row style="margin: 10px 0" *ngIf="itemStatus == 0 && displayDetails != null">
      <ion-col size="12" *ngIf="displayDetails.userRating == null; else userRate" class="itemName">
        <ion-text class="userRate">
          <h4>Rate us</h4>
          <h1>
            <ion-label (click)="rateNow(1)">
              <ion-icon name="star-outline"></ion-icon>
            </ion-label>
            <ion-label (click)="rateNow(2)">
              <ion-icon name="star-outline"></ion-icon>
            </ion-label>
            <ion-label (click)="rateNow(3)">
              <ion-icon name="star-outline"></ion-icon>
            </ion-label>
            <ion-label (click)="rateNow(4)">
              <ion-icon name="star-outline"></ion-icon>
            </ion-label>
            <ion-label (click)="rateNow(5)">
              <ion-icon name="star-outline"></ion-icon>
            </ion-label>
          </h1>
        </ion-text>
      </ion-col>
      <ng-template #userRate>
        <ion-col>
          <ion-item color="success">
            You rate {{displayDetails.userRating}} for this product
          </ion-item>
        </ion-col>
      </ng-template>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text>
          <h5>About this item</h5>
          <p>{{itemDescription != null ? itemDescription : "NONE"}}</p>
        </ion-text>
      </ion-col>
    </ion-row>
    <!-- enf for viewers -->
    <ion-row *ngIf="itemStatus != 0 && biddingDetails != null">
      <ion-col>
        <ion-list>
          <ion-item>
          </ion-item>
          <ion-item *ngFor="let bidders of biddingDetails.bidList">
            <ion-avatar slot="start">
              <img src="{{url}}/account/retrieveImage?id={{bidders.BiddersId}}&type=0" />
            </ion-avatar>
            <ion-label>
              <h1>{{bidders.bidderName}}</h1>
              <h3>{{bidders.BidPrice | currency : '&#8369; '}}</h3>
              <p>{{bidders.DateCreated}}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>