<ion-content>
  <div class="overlay">
    <form #form="ngForm" (ngSubmit)="sendData()" class="getting-started">
      <ion-grid>
        <ion-row>
          <ion-col size-xs="12">
            <ion-text>
              <h1>Let's setup few more things</h1>
            </ion-text>
          </ion-col>
          <ion-col size-xs="12">
            <ion-text>
              <h2>{{title}}</h2>
            </ion-text>
          </ion-col>
        </ion-row>

        <!-- step 1 -->
        <ion-row *ngIf="step == 0">
          <ion-col size-xs="12">
            <div class="ion-padding">
              <ion-item class="ion-margin-top">
                <ion-icon name="person"></ion-icon>
                <ion-input type="text" name="FirstName" ngModel placeholder="First Name"></ion-input>
              </ion-item>
              <ion-item class="ion-margin-top">
                <ion-icon name="person"></ion-icon>
                <ion-input type="text" name="MiddleName" ngModel placeholder="Middle Name"></ion-input>
              </ion-item>

              <ion-item class="ion-margin-top">
                <ion-icon name="person"></ion-icon>
                <ion-input type="text" name="LastName" ngModel placeholder="Last Name"></ion-input>
              </ion-item>
            </div>
          </ion-col>
        </ion-row>

        <!-- step 2 -->
        <ion-row *ngIf="step == 1">
          <ion-col size-xs="12">
            <div class="ion-padding">
              <ion-item class="ion-margin-top">
                <ion-icon name="home"></ion-icon>
                <ion-input type="text" ngModel name="add" placeholder="Block No.\Street No.\House No. "></ion-input>
              </ion-item>
              <ion-item class="ion-margin-top">
                <ion-icon name="home"></ion-icon>
                <ion-input type="text" ngModel name="barangay" placeholder="Barangay"></ion-input>
              </ion-item>
              <ion-item class="ion-margin-top">
                <ion-icon name="home"></ion-icon>
                <ion-input type="text" ngModel name="city" placeholder="City"></ion-input>
              </ion-item>
              <ion-item class="ion-margin-top">
                <ion-icon name="home"></ion-icon>
                <ion-input type="text" ngModel name="province" placeholder="Province"></ion-input>
              </ion-item>
            </div>
          </ion-col>
        </ion-row>

        <!-- step 3 -->
        <ion-row *ngIf="step == 2">
          <ion-col size-xs="12">
            <div class="ion-padding">
              <ion-item class="ion-margin-top">
                <ion-icon name="call"></ion-icon>
                <ion-input type="number" ngModel name="ContactNo" placeholder="Contact No."></ion-input>
              </ion-item>
              <ion-item class="ion-margin-top">
                <ion-icon name="briefcase"></ion-icon>
                <ion-input type="text" ngModel name="Occupation" placeholder="Occupation"></ion-input>
              </ion-item>
            </div>
          </ion-col>
        </ion-row>
        <!-- step 4 -->
        <ion-row *ngIf="step == 3">
          <ion-col size-xs="12">
            <div class="ion-padding">
              <app-camera></app-camera>
            </div>
          </ion-col>
          <ion-col size-xs="12">
            <ion-button color="primary" shape="round" size="md" type="submit" expand="full">Let's Go</ion-button>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size-xs="10" offset="1">
            <ion-text>
              <p>All fields are optional, you can leave it blank and finish it later.</p>
            </ion-text>
          </ion-col>
        </ion-row>

      </ion-grid>
    </form>

  </div>
</ion-content>
<ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="step != 3">
  <ion-fab-button (click)="formWizard(form)">
    <ion-icon name="arrow-forward"></ion-icon>
  </ion-fab-button>
</ion-fab>