<li class="navigation-header"><span>Main</span> <i class="icon-menu" title="Main pages"></i></li>
<li>
    <a href="#"><i class="icon-equalizer"></i> <span>Admin</span></a>
    <ul>
        <li ng-class="{'active':($parent.active=='admin')}"><a href="@Url.Action("Index", "Admin")"> <span>Verify</span></a></li>
    </ul>
</li>

