@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<form action="verify" method="get">
    <input type="text" name="username" value="" />
    <input type="password" name="password" value="" />
    <button type="submit">Submit</button>
</form>