@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = "Login";
}




<script>
    var app = angular.module("np", []);

    app.controller("pn", ["$scope", "$http", function (s, h) {


        s.clickMe = function () {

            let message = {
                "id": "35AE9",
                "title": "sample",
                "body": "body boray",
            }

            h.post("../Account/CallPN", message).then(function (d) {
                console.log("yow")
            })
        }

    }]);
</script>

<div class="content-wrapper">

    <!-- Content area -->
    <div class="content">




        <!-- Advanced login -->
        <form method="post" action="auth">
            <div class="panel panel-body login-form">
                <div class="text-center">
                    <div class="icon-object border-slate-300 text-slate-300"><i class="icon-reading"></i></div>
                    <h5 class="content-group">Login to your account <small class="display-block">Your credentials</small></h5>
                </div>
                <div style="text-align: center;">
                    <label style="color: red; text-align: center;">@Session["Error"]</label>
                </div>
                <div class="form-group has-feedback has-feedback-left">

                    <input type="text" name="u" class="form-control" placeholder="Username" autocomplete="off">
                    <div class="form-control-feedback">
                        <i style="top: 10px" class="icon-user text-muted"></i>
                    </div>
                </div>

                <div class="form-group has-feedback has-feedback-left">
                    <input type="password" name="p" class="form-control" placeholder="Password">
                    <div class="form-control-feedback">
                        <i style="top: 10px" class="icon-lock2 text-muted"></i>
                    </div>
                </div>

                <div class="form-group login-options">
                    <div class="row">
                        <div class="col-sm-6">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn bg-blue btn-block">Login</button>
                </div>
                <div class="content-divider text-muted form-group"><span>Don't have an account?</span></div>
                <div class="form-group">
                    <a href="@Url.Action("Register", "Account")" class="btn btn-default btn-block">Register</a>
                </div>
                <span class="help-block text-center no-margin">By continuing, you're confirming that you've read our <a href="#">Terms &amp; Conditions</a> and <a href="#">Cookie Policy</a></span>
            </div>
        </form>
        <!-- /advanced login -->
        <!-- Footer -->
        <div class="footer text-muted text-center">
            © 2015. <a href="#">Online Auction</a> by <a href="../Account/auth" target="_blank">Group NANI</a>
        </div>
        <!-- /footer -->

    </div>
    <!-- /content area -->
    <div ng-app="np" ng-controller="pn">
        <button ng-click="clickMe()">qweqwe</button>
    </div>
</div>