<ion-row>
  <ion-col class="image" size-xs="8" offset-xs="2" size-md="6" offset-md="3">
    <img [src]="'data:image/png;base64,' + cameraService.photo.base64" alt=""
      onerror="this.onerror=null; this.src='../assets/placeholder.png'" />
  </ion-col>
</ion-row>
<ion-row>
  <ion-col size-xs="6" size-lg="4" offset-lg="2">
    <ion-button (click)="capture()" shape="round" expand="full">
      <ion-icon name="camera"></ion-icon>
      <ion-label>Capture</ion-label>
    </ion-button>
  </ion-col>
  <ion-col size="6" size-lg="4">
    <ion-button (click)="upload()" shape="round" expand="full">
      <ion-icon name="images"></ion-icon>
      <ion-label>Upload </ion-label>
    </ion-button>
  </ion-col>
</ion-row>