<li class="navigation-header"><span>Main</span> <i class="icon-menu" title="Main pages"></i></li>
<li ng-class="{'active':($parent.active=='dashboard')}"><a href="@Url.Action("Index", "Dashboard")"><i class="icon-home4"></i> <span>Dashboard</span></a></li>
<li ng-class=""><a href="@Url.Action("ProductManagement", "Product")"><i class="icon-gift"></i> <span>Products</span></a></li>
