@{
    ViewBag.Title = "PersonMgt";
}

<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/daterangepicker.js"></script>
<script src="~/Scripts/ngpManagement.js"></script>
<div ng-controller="personMgt">
    <div class="page-header">
        <div class="page-header-content">
            <div class="page-title">
                <h4><i class="icon-bag position-left"></i> <span class="text-semibold">Employee</span></h4>
                <a class="heading-elements-toggle"><i class="icon-more"></i></a>
            </div>


        </div>
    </div>

    <div class="content">
        <div class="panel panel-flat">
            <div class="panel-body no-padding-bottom">

                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <div class="has-feedback has-feedback-left">
                                <input style="width:100%;" ng-model="sdata" ng-change="testsearch(sdata)" id="searchinput" class="form-control" type="text" placeholder="Search Personel" />
                                <div class="form-control-feedback">
                                    <i class="icon-search4 text-size-large text-muted"></i>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-md-offset-1 mb-20">
                        <span class="text-semibold">
                            <button type="button" class="btn bg-teal-400 btn-block text-size-large text-uppercase" data-toggle="modal" data-target="#Add" ng-click="rdata()">
                                <i class="icon-new-tab2"></i>&nbsp;New Employee
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-flat">
            <div class="panel-body no-margin no-padding">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr class="bg-teal-400">
                                <td>#</td>
                                <th>Name</th>
                                <th>Address</th>
                                <th>Birthday</th>
                                <th>Position</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="i in alldata">
                                <td>{{$index+1}}</td>
                                <td>{{i.ConcatName| uppercase}}</td>
                                <td>{{i.Address| uppercase}}</td>
                                <td>{{i.Bdate |  date:'MMM dd, yyyy' }}</td>
                                <td>{{i.Position| uppercase}}</td>
                                <td>
                                    <button type="button" class="btn btn-primary btn-sm btn-icon" data-toggle="modal" ng-click="editName(i)"><i class="icon-pencil"></i></button>
                                    <button type="button" class="btn btn-ladda btn-sm btn-icon" ng-click="openModal(i)"><i class="icon-trash"></i></button>
                                </td>

                               
                            </tr>
                            <tr ng-if="lengthdata== 0">
                                <td colspan="5" class="text-center text-muted text-italic text-semibold">NO RESULT FOUND</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>



    <div id="Edit" class="modal fade">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form ng-submit="saveUOF(selected)">
                    <div class="modal-header bg-success">
                        <button type="button" class="close" ng-click="refresh()" data-dismiss="modal">&times;</button>
                        <h6 class="modal-title">
                            <i class="icon-add-to-list"></i> Edit Name
                        </h6>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                <div class="row mt-10">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input type="text" ng-model="selected.FirstName" placeholder="First Name" class="form-control" required>
                                                <span class="input-group-addon"><i class="icon-user-check"></i></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input type="text" ng-model="selected.MiddleName" placeholder="Middle Name" class="form-control" required>
                                                <span class="input-group-addon"><i class="icon-user-check"></i></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input type="text" ng-model="selected.LastName" placeholder="Last Name" class="form-control" required>
                                                <span class="input-group-addon"><i class="icon-user-check"></i></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input type="date" ng-model="selected.Bdate" placeholder="Birthday" data-popup="tooltip" title="Birthday" class="form-control" required>
                                                <span class="input-group-addon"><i class="fa fa-birthday-cake"></i></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input type="text" ng-model="selected.Address" placeholder="Address" class="form-control" required>
                                                <span class="input-group-addon"><i class="icon-location4"></i></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input type="text" ng-model="selected.Position" placeholder="Position" class="form-control" required>
                                                <span class="input-group-addon"><i class="icon-portfolio"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success btn-block">Continue</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="Add" class="modal fade">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form ng-submit="addEmp(adata)">
                    <div class="modal-header bg-success">
                        <button type="button" class="close" ng-click="refresh()" data-dismiss="modal">&times;</button>
                        <h6 class="modal-title">
                            <i class="icon-add-to-list"></i> New Employee
                        </h6>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                <div class="row mt-10">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input type="text" ng-model="adata.FirstName" id="fname" placeholder="First Name" class="form-control" required>
                                                <span class="input-group-addon"><i class="icon-user-check"></i></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input type="text" ng-model="adata.MiddleName" id="mname" placeholder="Middle Name" class="form-control" required>
                                                <span class="input-group-addon"><i class="icon-user-check"></i></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input type="text" ng-model="adata.LastName" id="lname" placeholder="Last Name" class="form-control" required>
                                                <span class="input-group-addon"><i class="icon-user-check"></i></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input type="date" ng-model="adata.Bdate" id="bdate" placeholder="Birthday" data-popup="tooltip" title="Birthday" class="form-control" required>
                                                <span class="input-group-addon"><i class="fa fa-birthday-cake"></i></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input type="text" ng-model="adata.Address" id="addrss" placeholder="Address" class="form-control" required>
                                                <span class="input-group-addon"><i class="icon-location4"></i></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input type="text" ng-model="adata.Position" id="position" placeholder="Position" class="form-control" required>
                                                <span class="input-group-addon"><i class="icon-portfolio"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success btn-block">Continue</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
   
</div>

