img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
    margin-left: 20px;
}

span{
    line-height: 40px;
    white-space: nowrap;
    word-wrap: ellipsis;
}